body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header part*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: aqua;
}

.header .myname {
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    color: darkviolet;
    font-style: italic;
    font-weight: 700;
}

.rick {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.rick video {
    display: none;
    width: 100%;
}


/* Main Content*/
.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 15px;
}

.title {
    width: 100%;
    text-align: left;
    padding: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}

