body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

/* Header part*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: aqua;
}

.header .myname {
    font-size: 30px;
    font-family: 'Roboto',sans-serif;
    color: darkviolet;
    font-style: italic;
    font-weight: 700;
}

.rick {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.rick video {
    display: none;
    width: 100%;
}


/* Main Content*/
.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 15px;
    background-color: azure;
    font-size: 20px;
    color: coral;
}

.title {
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    border: 2px;
    outline: 2px solid blueviolet;
    border-radius: 2px;
    background-color: beige;
}

a { 
    text-decoration: none;
    color: lightblue;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    color: black;
    font-weight: 600;
    font-style: italic;
    background-color: azure;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    padding: 20px;
    border: 4px solid lightcoral;
    border-radius: 10px;
    margin-top: 100px;
}
